/* @import 'reset.css'; */

:root {
    font-family: 'DM Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;

    color: white;
    font-size: calc(3vmin);
}

body {
    margin: 0;
}
