:root {
    --color-base-bg-1: 41 41 41;
    --color-base-bg-1-hover: 61 61 61;
    --color-base-bg-1-active: 31 31 31;
    --color-base-bg-1-disabled: 20 20 20;
    --color-base-bg-2: 31 31 31;
    --color-base-bg-3: 20 20 20;
    --color-base-bg-4: 10 10 10;
    --color-base-bg-5: 0 0 0;
    --color-base-bg-6: 51 51 51;
    --color-base-fg-1: 255 255 255;
    --color-base-fg-1-hover: 255 255 255;
    --color-base-fg-1-active: 255 255 255;
    --color-base-fg-1-selected: 255 255 255;
    --color-base-fg-1-disabled: 92 92 92;
    --color-base-fg-2: 214 214 214;
    --color-base-fg-2-hover: 255 255 255;
    --color-base-fg-2-active: 255 255 255;
    --color-base-fg-3: 173 173 173;
    --color-base-fg-4: 153 153 153;
    --color-base-border-1: 102 102 102;
    --color-base-border-1-disabled: 66 66 66;
    --color-base-border-2: 82 82 82;
    --color-base-border-3: 61 61 61;

    --color-brand-bg-1: 173 1 0;
    --color-brand-bg-1-hover: 199 0 0;
    --color-brand-bg-1-active: 97 16 0;
    --color-brand-bg-1-disabled: 20 20 20;
    --color-brand-bg-2: 43 14 0;
    --color-brand-bg-3: 148 7 0;
    --color-brand-bg-4: 97 16 0;
    --color-brand-on-bg-1: 255 255 255;
    --color-brand-on-bg-1-disabled: 92 92 92;
    --color-brand-fg-1: 255 68 37;
    --color-brand-fg-2: 255 105 70;
    --color-brand-border-1: 250 0 0;
    --color-brand-border-2: 123 13 0;

    --color-subtle-bg-hover: 56 56 56;
    --color-subtle-bg-active: 46 46 46;
}
